 <h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.jobtype %></td>
      <td><%= job.salary %></td>
      <td><%= job.location %></td>
      <td><%= job.description %></td>
      <td><%= link_to 'Show', job_path(job) %></td>
    </tr>
  <% end %>
</table>



<%= button_to 'logout', destroy_user_session_path,method: :delete %>
