<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>
 
<p>
  <strong>JobType:</strong>
  <%= @job.jobtype %>
</p>
 
<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
 
 <h4>you have successfully applied for this job<h4>

<%= link_to 'Back', applicants_path %>
