
<div class="card" style="width: 20rem;" >
  <div class="card border-dark shadow-sm">
  <div class="card-body">
    


<%= form_with model: @job,data: { turbo: false}, local: true do |form| %>
 

 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
     <% @job.errors.full_messages_for(:title).each do |message| %>
      <span><%= message %></span>
    <% end %>
  </p>
 
  <p>
    <%= form.label :jobtype %><br>
    <%= form.text_field :jobtype %>
     <% @job.errors.full_messages_for(:jobtype).each do |message| %>
      <span><%= message %></span>
    <% end %>
  </p>

  <p>
    <%= form.label :salary %><br>
    <%= form.text_field :salary %>
     <% @job.errors.full_messages_for(:salary).each do |message| %>
      <span><%= message %></span>
    <% end %>
  </p>
 
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
     <% @job.errors.full_messages_for(:location).each do |message| %>
      <span><%= message %></span>
    <% end %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @job.errors.full_messages_for(:description).each do |message| %>
      <span><%= message %></span>
    <% end %>
  </p>
 
  
 
  <p>
    <%= form.submit("Submit", class: "btn btn-primary")  %>
  </p>
 
<% end %>
</div>
</div>
</div>
