<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>
 
<p>
  <strong>JobType:</strong>
  <%= @job.jobtype %>
</p>
 
<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
 

 
<%= link_to 'apply',  new_applied_job_path(job_id: @job.id),class: "btn btn-primary" %>
<%= link_to 'back',   applied_jobs_path,class: "btn btn-secondary" %>