 <h1>Listing jobs</h1>

  <table class="table table-striped">
  <table class="table align-middle">
  <thead>
    <tr>
      
      <th scope="col">Title</th>
      <th scope="col">JobType</th>
      <th scope="col">Salary</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.jobtype %></td>
      <td><%= job.salary %></td>
      <td><%= job.location %></td>
      <td><%= job.description %></td>
    
      <td><%= link_to 'show', applicant_path(job) %></td>
    </tr>
  <% end %>
</table>



<%= button_to 'logout', destroy_user_session_path,method: :delete %>
